/*
	This script and database created according to the sample database on
	https://www.w3resource.com/sql-exercises/movie-database-exercise/joins-exercises-on-movie-database.php
*/


-- CREATE DATABASE MovieDB
-- WITH
-- OWNER = postgres
-- ENCODING = 'UTF8'
-- LC_COLLATE = 'English_United States.1252'
-- LC_CTYPE = 'English_United States.1252'
-- TABLESPACE = pg_default
-- CONNECTION LIMIT = -1;

CREATE TABLE actor(
	act_id INT PRIMARY KEY,
	act_fname CHAR(20),
	act_lname CHAR(20),
	act_gender CHAR(1)
	);

CREATE TABLE director(
	dir_id INT PRIMARY KEY,
	dir_fname CHAR(20),
	dir_lname CHAR(20)
	);

CREATE TABLE movie_direction(
	dir_id INT,
	mov_id INT
	);

CREATE TABLE movie_cast(
	act_id INT,
	mov_id INT,
	role CHAR(30)
	);

CREATE TABLE movie(
	mov_id INT PRIMARY KEY,
	mov_title CHAR(50),
	mov_year INT,
	mov_time INT,
	mov_lang CHAR(50),
	mov_dt_rel DATE,
	mov_rel_country CHAR(5)
	);

CREATE TABLE reviewer(
	rev_id INT PRIMARY KEY,
	rev_name CHAR(30)
	);

CREATE TABLE genres(
	gen_id INT PRIMARY KEY,
	gen_title CHAR(20)
	);

CREATE TABLE movie_genres(
	mov_id INT,
	gen_id INT
	);

CREATE TABLE rating(
	mov_id INT,
	rev_id INT,
	rev_stars NUMERIC,
	num_o_ratings INT
	);



-- add all rows to all tables
INSERT INTO actor VALUES ('101', 'James', 'Stewart', 'M');
INSERT INTO actor VALUES ('102', 'Deborah', 'Kerr', 'F');
INSERT INTO actor VALUES ('103', 'Peter', 'OToole', 'M');

INSERT INTO director VALUES ('201', 'Alfred', 'Hitchcock');
INSERT INTO director VALUES ('202', 'Jack', 'Clayton');
INSERT INTO director VALUES ('203', 'David', 'Lean');

INSERT INTO movie_direction VALUES ('201', '901');
INSERT INTO movie_direction VALUES ('202', '902');
INSERT INTO movie_direction VALUES ('203', '903');

INSERT INTO movie_cast VALUES ('101', '901', 'John Scottie Ferguson');
INSERT INTO movie_cast VALUES ('102', '902', 'Miss Giddens');
INSERT INTO movie_cast VALUES ('103', '903', 'T.E. Lawrence');

INSERT INTO movie VALUES ('901', 'Vertigo', '1958', '128', 'English', '1958-08-24', 'UK');
INSERT INTO movie VALUES ('902', 'The Innocents', '1961', '100', 'English', '1962-02-19', 'SW');
INSERT INTO movie VALUES ('903', 'Lawrence of Arabia', '1962', '216', 'English', '1962-12-11', 'UK');

INSERT INTO reviewer VALUES ('9001', 'Righty Sock');
INSERT INTO reviewer VALUES ('9002', 'Jack Malvern');
INSERT INTO reviewer VALUES ('9003', 'Flagrant Baronessa');

INSERT INTO genres VALUES ('1001', 'Action');
INSERT INTO genres VALUES ('1002', 'Adventure');
INSERT INTO genres VALUES ('1003', 'Animation');

INSERT INTO movie_genres VALUES ('922', '1001');
INSERT INTO movie_genres VALUES ('917', '1002');
INSERT INTO movie_genres VALUES ('903', '1002');

INSERT INTO rating VALUES ('901', '9001', '8.40', '263575');
INSERT INTO rating VALUES ('902', '9002', '7.90', '20207');
INSERT INTO rating VALUES ('903', '9003', '8.30', '202778');

-- FOREIGN KEYS CREATION
ALTER TABLE movie_direction ADD FOREIGN KEY (dir_id) REFERENCES director(dir_id);
ALTER TABLE movie_direction ADD FOREIGN KEY (mov_id) REFERENCES movie(mov_id);
ALTER TABLE movie_cast ADD FOREIGN KEY (act_id) REFERENCES actor(act_id);
ALTER TABLE movie_cast ADD FOREIGN KEY (mov_id) REFERENCES movie(mov_id);
ALTER TABLE movie_genres ADD FOREIGN KEY (mov_id) REFERENCES movie(mov_id);
ALTER TABLE movie_genres ADD FOREIGN KEY (gen_id) REFERENCES genres(gen_id);
ALTER TABLE rating ADD FOREIGN KEY (mov_id) REFERENCES movie(mov_id);
ALTER TABLE rating ADD FOREIGN KEY (rev_id) REFERENCES reviewer(rev_id);